numpy==1.20.3
scipy==1.5.4
jsonnet==0.17.0
overrides==3.1.0
nltk==3.5
spacy==2.3.4
tensorboardX==2.1
boto3==1.16.29
requests==2.25.0
tqdm==4.54.0
h5py==3.1.0
scikit-learn==0.23.2
pytest==6.1.2
transformers==4.2.2
sentencepiece==0.1.91
filelock==3.0.12
lmdb==1.0.0
more-itertools==8.6.0
termcolor==1.1.0
checklist==0.0.10
wandb==0.10.30
huggingface-hub==0.0.8
google-cloud-storage==1.38.0
conllu==4.4
word2number==1.1
py-rouge==1.1
ftfy==5.8
